---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: resources-cluster-role
rules:
- apiGroups: ["", "networking.k8s.io"]
  resources: ["namespaces", "pods", "pods/exec", "networkpolicies", "services", "endpoints", "service/status", "endpoints/status", "configmaps", "secrets", "ingresses", "persistentvolumes", "persistentvolumeclaims", "serviceaccounts"]
  verbs: ["list", "create", "delete", "get"]
- apiGroups: ["rbac.authorization.k8s.io"]
  resources: ["roles", "rolebindings"]
  verbs: ["list", "create", "delete", "get"]
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: resources-sa
  namespace: ${NAMESPACE} # Namespace placeholder
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: resources-cluster-role-binding
subjects:
- kind: ServiceAccount
  name: resources-sa
  namespace: ${NAMESPACE} # Namespace placeholder
roleRef:
  kind: ClusterRole
  name: resources-cluster-role
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: container-maker-development
  namespace: ${NAMESPACE} # Namespace placeholder
  labels:
    app: container-maker-development
spec:
  replicas: 1
  selector:
    matchLabels:
      app: container-maker-development
  template:
    metadata:
      labels:
        app: container-maker-development
    spec:
      serviceAccountName: resources-sa
      containers:
      - name: container-maker-development
        image: ${REPO_NAME}/container-maker-development:latest  # Your gRPC API Docker image
        imagePullPolicy: Always
        ports:
        - containerPort: 50051  # gRPC default port
        securityContext:
          privileged: true
        env:
        - name: SERVER_KEY
          valueFrom:
            secretKeyRef:
              name: container-maker-development-service-certs
              key: server.key
        - name: SERVER_CRT
          valueFrom:
            secretKeyRef:
              name: container-maker-development-service-certs
              key: server.crt
        - name: CLIENT_KEY
          valueFrom:
            secretKeyRef:
              name: container-maker-development-service-certs
              key: client.key
        - name: CLIENT_CRT
          valueFrom:
            secretKeyRef:
              name: container-maker-development-service-certs
              key: client.crt
        - name: CA_CRT
          valueFrom:
            secretKeyRef:
              name: container-maker-development-service-certs
              key: ca.crt
        - name: REPO_NAME
          value: ${REPO_NAME}
        - name: REPO_PASSWORD
          value: ${REPO_PASSWORD}
        - name: INGRESS_HOST
          value: ${INGRESS_HOST}
        volumeMounts:
        - name: app-code
          mountPath: /app
      volumes:
      - name: app-code
        hostPath:
          path: ${HOSTPATH}
          type: DirectoryOrCreate
---
apiVersion: v1
kind: Service
metadata:
  name: container-maker-development-service
  namespace: ${NAMESPACE} # Namespace placeholder
spec:
  selector:
    app: container-maker-development
  ports:
    - protocol: TCP
      port: 50052     # The port exposed by the service
      targetPort: 50052  # The container's port
  type: ClusterIP  # Use LoadBalancer or NodePort if external access is needed
